<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
	<body>
		<div th:fragment="header">
			<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
		        <div class="logo"><a href="index.html"><img src="images/logo.png"></a></div>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"aria-expanded="false" aria-label="Toggle navigation">
		          <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse" id="navbarNav">
		          <ul class="navbar-nav">
		            <li class="nav-item active">
		              <a class="nav-link" href="/">HOME</a>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link" href="/about">ABOUT</a>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link" href="/services">SERVICES</a>
		            </li>
		            <li class="nav-item">
		              <div class="dropdown" sec:authorize="isAuthenticated()" >
  							<span class="dropbtn">MEMBERSHIP</span>
							<div class="dropdown-contents">
							    <a href="/membership/skt">SKT</a>
							    <a href="/membership/kt">KT</a>
							    <a href="/membership/lg">LG U+</a>
							</div>
						</div>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link" href="/discount">DISCOUNT</a>
		            </li>
		            <!--<li class="nav-item">
		              <a class="nav-link" href="/contact">LOGIN</a>
		            </li>-->
		            <!--<li class="nav-item">
		              <a class="nav-link" href="#"><img src="images/search-icon.png"></a>
		            </li>-->
		            <li class="nav-item">
		            	<a class="nav-link" sec:authorize="isAnonymous()" href="/login">로그인</a>
		            </li>
		            <li class="nav-item">
		            	<a class="nav-link" sec:authorize="isAuthenticated()" href="/checkpw">마이 페이지</a>
		            </li>
		            <li>
		            	<div class="dropdown" sec:authorize="isAuthenticated()" >
  							<span class="dropbtn">인증하기</span>
							<div class="dropdown-contents">
							    <a href="/certi/SMS">SMS</a>
							    <a href="/certi/email">Email</a>
							</div>
						</div>
		            </li>
			        <li class="nav-item">
		            	<a class="nav-link" sec:authorize="isAuthenticated()" href="/logout">로그아웃</a>
		            </li>    
		        </div>
		    </nav>
		</div>
	</body>
</html>