<!DOCTYPE html>
<html lang="en">
<head>
	<title>About</title>
	<div th:replace="~{fragments/meta :: meta}"></div>
</head>
<body>
	<!--header section start -->
	<div th:replace="~{fragments/header :: header}"></div>
	<!--header section end -->
	<!--about section start -->
	<div class="about_section layout_padding">
		<div class="container">
			<h1 class="about_text">about web elements</h1>
			<p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
			<div class="about_bg"><img src="images/about-bg.png"></div>
			<p class="lorem_text">orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
			<div class="read_bt_main">
            	<div class="read_text_2"><a href="#">Read More</a></div>
            </div>
		</div>
	</div>
	<!--about section end -->
	<!--footer section start -->
	<div class="footer_section layout_padding">
	<div th:replace="~{fragments/footer :: footer}"></div>
	<!--footer section end -->
	<!--copyright section start -->
	<div th:replace="~{fragments/copyright :: copyright}"></div>
	<!--copyright section end -->
	<!-- script section start-->
	<div th:replace="~{fragments/script :: script}"></div>
	<!-- script section end -->
</body>
</html>