<!DOCTYPE html>
<html lang="en">
<head>
	<!-- basic -->
	<title>Chekc Password</title>
	<div th:replace="~{fragments/meta :: meta}"></div>
</head>
<body>
	<!--header section start -->
	<div th:replace="~{fragments/header :: header}"></div>
	<!--header section end -->
	<!--contact section start -->
    <div class="contact_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="contact_text">비밀번호 확인</h1>
                    <div class="contact_main">
                        <div class="mail_section">
                        	<form th:action="@{/user/checkpw}" th:method="POST">
                        		<input type="password" class="mail_text" placeholder="현재 비밀번호를 입력하세요" name="pw">
	                            <button class="mail_text">비밀번호 확인</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact_bg"><img src="images/contact-bg.png"></div>
                </div>
            </div>
        </div>
    </div>
    <!--contact section end -->
	<!--footer section start -->
	<div th:replace="~{fragments/footer :: footer}"></div>
	<!--footer section end -->
	<!--copyright section start -->
	<div th:replace="~{fragments/copyright :: copyright}"></div>
	<!--copyright section end -->
	<!-- script section start-->
	<div th:replace="~{fragments/script :: script}"></div>
	<!-- script section end -->
</body>
</html>