<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<div th:replace="~{fragments/meta :: meta}"></div>
</head>
<body>
	<!--header section start -->
	<div th:replace="~{fragments/header :: header}"></div>
	<!--header section end -->
	<!--contact section start -->
    <div class="contact_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="contact_text">Login</h1>
                    <div class="contact_main">
                    	<form th:action="@{/login}", th:method="POST">
	                        <div class="mail_section">
	                    		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
	                            <input type="Name" class="mail_text" placeholder="Email" name="email">
	                            <input type="Password" class="mail_text" placeholder="Password" name="pw">
	                        </div>
	                        <input type="submit" class="mail_text" value="Sign In"/>
                        </form>
                        <div>
                        	<button class="mail_text" th:onclick="|location.href='@{/join}'|" th:text="회원가입"></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact_bg"><img src="images/contact-bg.png"></div>
                </div>
            </div>
        </div>
    </div>
    <!--contact section end -->
	<!--footer section start -->
	<div th:replace="~{fragments/footer :: footer}"></div>
	<!--footer section end -->
	<!--copyright section start -->
	<div th:replace="~{fragments/copyright :: copyright}"></div>
	<!--copyright section end -->
	<!-- script section start-->
	<div th:replace="~{fragments/script :: script}"></div>
	<!-- script section end -->
</body>
</html>