<!DOCTYPE html>
<html lang="en">
<head>
	<title>Join</title>
	<div th:replace="~{fragments/meta :: meta}"></div>
</head>
<body>
	<!--header section start -->
	<div th:replace="~{fragments/header :: header}"></div>
	<!--header section end -->
	<!--contact section start -->
    <div class="contact_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="contact_text">My Page</h1>
                    <div class="contact_main">
                        <div class="mail_section">
                        	<form th:action="@{/user/modify}" th:method="POST">
	                        	<input class="mail_text" name="name" th:value="${user.name}" readonly>
	                            <input class="mail_text" name="email" th:value="${user.email}" readonly>
	                            <input type="password" class="mail_text" placeholder="변경할 비밀번호" name="pw">
	                            <input class="mail_text" placeholder="telecom" name="telecom" th:value="${user.telecom}">
	                            <input class="mail_text" placeholder="phone" name="phone" th:value="${user.phone}">
	                            <button class="mail_text">수정</button>
                            </form>
                        	<a data-th-href="@{/}"><button class="mail_text" >홈으로</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact_bg"><img src="images/contact-bg.png"></div>
                </div>
            </div>
        </div>
    </div>
    <!--contact section end -->
	<!--footer section start -->
	<div th:replace="~{fragments/footer :: footer}"></div>
	<!--footer section end -->
	<!--copyright section start -->
	<div th:replace="~{fragments/copyright :: copyright}"></div>
	<!--copyright section end -->
	<!-- script section start-->
	<div th:replace="~{fragments/script :: script}"></div>
	<!-- script section end -->
</body>
</html>