<!DOCTYPE html>
<html lang="en">
<head>
	<title>Services</title>
	<div th:replace="~{fragments/meta :: meta}"></div>
</head>
<body>
	<!--header section start -->
	<div th:replace="~{fragments/header :: header}"></div>
	<!--header section end -->
	<!--service section start -->
    <div class="service_section layout_padding margin_0">
        <div class="container">
            <h1 class="about_text">services</h1>
            <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq</p>
            <div class="service_section_2">
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="icon_1"><img src="images/icon-1.png"></div>
                        <h1 class="website_text">website element</h1>
                        <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliq</p>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="icon_1"><img src="images/icon-2.png"></div>
                        <h1 class="website_text">applicatinos element</h1>
                        <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliq</p>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="icon_1"><img src="images/icon-3.png"></div>
                        <h1 class="website_text">design element</h1>
                        <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliq</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--service section end -->
	<!--footer section start -->
	<div th:replace="~{fragments/footer :: footer}"></div>
	<!--footer section end -->
	<!--copyright section start -->
	<div th:replace="~{fragments/copyright :: copyright}"></div>
	<!--copyright section end -->
	<!-- script section start-->
	<div th:replace="~{fragments/script :: script}"></div>
	<!-- script section end -->
</body>
</html>