<!DOCTYPE html>
<head>
	<title>SKT Membership</title>
	<div th:replace="~{fragments/meta :: meta}"></div>
</head>
<body>
	<!--header section start -->
	<div th:replace="~{fragments/header :: header}"></div>
	<!--header section end -->
	
	<!--footer section start -->
	<div th:replace="~{fragments/footer :: footer}"></div>
	<!--footer section end -->
	<!--copyright section start -->
	<div th:replace="~{fragments/copyright :: copyright}"></div>
	<!--copyright section end -->
	<!-- script section start-->
	<div th:replace="~{fragments/script :: script}"></div>
	<!-- script section end -->
</body>